@keyframes parallax-background {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 780px;
    }
}

@keyframes movingShip{
    25%{
        transform: skewY(5deg);
    }
    50%{
        transform: initial;
    }
    75%{
        transform: skewY(-5deg);
    }
    100%{
        transform: initial;
    }
}

@-webkit-keyframes moveEnemy{
    100%{
        transform: translate(70px, 1400px);
    }
}

@-webkit-keyframes flyingEnemy{
    100% {
        background-position: -290px 0px;
    }
}

@keyframes downShip{
    25% {
        transform: scale3D(0.7, 0.7, 159);
    }
    100% {
        transform: scale3D(0, 0, 0);
    }
}

@keyframes explodeShip{
    100%{
        background-position: -935px 0px;
    }
}

#paralax-background-content{
    margin: 100px 0 0 100px;
    width: 1000px;
    height: 520px;
    background-image: url("../images/desertBackground.jpg");
    background-size: 1000px auto;
    background-repeat: repeat-y;
    background-position: 0px 0px;
    overflow: hidden;
    position: absolute;
}

#paralax-background-content.playing{
    animation: parallax-background linear 4s infinite;
}

#naveJugador {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../images/nave.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    transition: 0.2s;
}

#naveJugador.volando{
    animation: movingShip linear 2s infinite;
}

#naveJugador.izquierda {
    transform: skewY(-5deg);
}

#naveJugador.derecha {
    transform: skewY(5deg);
}

#naveJugador.cayendo{
    background-image: url("../images/explosion.png");
    background-size: 935px 100px;
    width: 65px;
    height: 90px;
    animation:  explodeShip 2s steps(14) 1, downShip linear 2s 1;
}

.enemigo{
    position: absolute;
    width: 70px;
    height: 90px;
    background-image: url("../images/enemigos.png");
    background-size: 290px 100px;
    background-repeat: no-repeat;
    transition: 0.2s;
    animation: flyingEnemy 1s steps(4) infinite, moveEnemy linear 5s 1;
}