@keyframes parallax-background {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 700px;
    }
}

@keyframes movingShip{
    25%{
        transform: skewY(5deg);
    }
    50%{
        transform: initial;
    }
    75%{
        transform: skewY(-5deg);
    }
    100%{
        transform: initial;
    }
}

@-webkit-keyframes moveEnemy{
    100%{
        transform: translate(70px, 1400px);
    }
}

@-webkit-keyframes flyingEnemy{
    100% {
        background-position: -290px 0px;
    }
}

@keyframes downShip{
    25% {
        transform: scale3D(0.7, 0.7, 159);
    }
    100% {
        transform: scale3D(0, 0, 0);
    }
}

@keyframes explodeShip{
    100%{
        background-position: -935px 0px;
    }
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open-sans', sans-serif;
}

header {
    margin: 15px 0 15px 0;
}

label h2 {
    font-size: 1.5em;
    padding-top: 10px;
}

.container-logo a {
    color: white;
    text-decoration: none;
}

.container-logo {
    margin-left: 13.7%;
}

.container-logo label {
    position: absolute;
    top: -20%;
    left: 29%;
}

.logo-pagina {
    width: 50px;
    height: auto;
}

.logo-usuario {
    width: 40px;
    height: auto;
}

#dLabel:hover {
    cursor: pointer;
}

.sesion {
    float: right;
    margin-right: 8.5%;
    font-size: 20px;
}


#paralax-background-content{
    margin: 0 0 0 60px;
    width: 900px;
    height: 520px;
    background-image: url("../images/desertBackground.jpg");
    background-size: 900px auto;
    background-repeat: repeat-y;
    background-position: 0px 0px;
    overflow: hidden;
    position: absolute;
}

#paralax-background-content.playing{
    animation: parallax-background linear 4s infinite;
}

#naveJugador {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../images/nave.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    transition: 0.2s;
}

#naveJugador.volando{
    animation: movingShip linear 2s infinite;
}

#naveJugador.izquierda {
    transform: skewY(-5deg);
}

#naveJugador.derecha {
    transform: skewY(5deg);
}

#naveJugador.cayendo{
    background-image: url("../images/explosion.png");
    background-size: 935px 100px;
    width: 65px;
    height: 90px;
    animation:  explodeShip 2s steps(14) 1, downShip linear 2s 1;
}

.enemigo{
    position: absolute;
    width: 70px;
    height: 90px;
    background-image: url("../images/enemigos.png");
    background-size: 290px 100px;
    background-repeat: no-repeat;
    transition: 0.2s;
    animation: flyingEnemy 1s steps(4) infinite, moveEnemy linear 5s 1;
}

header{
    margin-top: 20px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open-sans', sans-serif;
    background-color: #021A32;
    color: white;
}

.logo-usuario{
    width: 40px;
    height: auto;
}

.logo-pagina{
    width: 50px;
    height: auto;
}

.juego, #botonera, .btn{
    margin-top: 30px;
}

.sesion{
    margin-left: 45px;
}

.ranking{
    width: 200px;
    height: 520px;
    background-color: #052849;
    text-align: center;
}

#menu{
    margin-top: 120px;
    width: 100%;
    height: 300px;
    background-color: #133B61;
    opacity: 0.8;
    border-radius: 15px;
}

button{
    width: 100%;
    height: 40px;
    background-color: #003815;
    color: white;
}

.oculto{
    display: none;
}

p{
    text-align: justify;
}

h3{
    margin-left: 13px;
}

.info-adicional{
    margin-top: 18px;
}

.volver{
    margin-top: 0px;
}

.configuracion-titulo{
    margin-top: 20px;
}

.musica{
    font-size: 20px;
}

.musica.active{
    background-color: aqua;
    border-radius: 15px;
}

.musica:hover{
    cursor: pointer;
    border: 2px solid aqua;
    border-radius: 15px;
}

.jugadores{
    margin: 20px 0 0 20px;
}

.jugador-principal{
    border: 2px solid aqua;
    border-radius: 15px;
}

#puntaje-anterior{
    margin-top: 90px;
}

.container-puntaje{
    background-color: #288a2a;
    width: 145px;
}

.disparos{
    position: absolute;
    width: 10px;
    height: 40px;
    background-image: url("../images/disparo.png");
    background-size: 10px 30px;
    background-repeat: no-repeat;
    transition: 0.2s;
    animation: disparar linear 2s 1;
}


#info-controles .info-adicional{
    margin-top: 6px;
}

@keyframes disparar {
    100%{
        transform: translate(0px, -600px);
    }
}