body{
    background-color: cadetblue;
}

h1, h2{
    font-family: 'Amethyst';
}

.header{
    margin-top: 3px;
}

.header-page{
    text-align: center;
    margin-bottom: -6px;
}

.header-acciones{
    text-align: center;
}

.jugadores.turno-actual {
    box-shadow: 4px 4px #00c9d1; 
    color: #00c9d1;
}

.info{
    margin-bottom: 0px;
}

#info-ganador, #info-empate{
    width: 100%;
}

.mensaje-ganador{
    text-align: center;
    margin-top: 5px;
}

#tablero{
    cursor: pointer;
    margin-left: 5px;
}



.oculto {
    display: none;
}