.header-page{
    text-align: center;
    margin-bottom: -6px;
}

h1, h2{
    font-family: 'Amethyst';
}

body{
    background-color: cadetblue;
}

.header-acciones{
    text-align: center;
}

.header{
    margin-top: 3px;
}

#tablero{
    cursor: pointer;
    margin-left: 5px;
}

.jugadores.turno-actual {
    box-shadow: 4px 4px #0df8ef;
    color: #0df8ef;
}